___
# Ciência dos Dados - PROJETO 1

## COLOQUE AQUI SEU NOME
___

## TÍTULO DO SEU PROJETO

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

___
## Análise e Resultados

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [3]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Usuário\Documents\#insper#\dados\Projeto 1

In [4]:
#Se usar o arquivo descompactado
#pd.read_csv('DOM2015.csv',sep=',')

#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('DOM2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [5]:
dados= pd.read_csv('DOM2009.csv',sep=',')

In [6]:
dadosID = dados[dados.UF == 50].loc[ : ,["UF","V0222","V0221","V0228","V4622","V4623","V2103","V2105","V2107","V2109","V2113","V2128"]]

In [7]:
dadosCompletos=dadosID[pd.notnull(dadosID.V0222)]

In [8]:
dadosCompletos

,UF,V0222,V0221,V0228,V4622,V4623,V2103,V2105,V2107,V2109,V2113,V2128
136602,50,4.0,3.0,6.0,2.0,3.0,1.0,1.0,1.0,1.0,1.0,4.0
136604,50,4.0,3.0,6.0,4.0,1.0,3.0,3.0,3.0,3.0,NaN,NaN
136801,50,4.0,3.0,4.0,4.0,1.0,3.0,3.0,3.0,3.0,NaN,NaN
136980,50,4.0,3.0,6.0,3.0,7.0,3.0,3.0,1.0,3.0,1.0,NaN
137030,50,4.0,3.0,4.0,3.0,6.0,3.0,3.0,3.0,3.0,NaN,NaN
137084,50,4.0,3.0,6.0,0.0,6.0,3.0,3.0,3.0,3.0,NaN,NaN
137127,50,4.0,3.0,4.0,6.0,6.0,3.0,3.0,3.0,3.0,NaN,NaN
137153,50,4.0,3.0,6.0,4.0,7.0,3.0,3.0,1.0,3.0,3.0,NaN
137318,50,4.0,3.0,6.0,3.0,9.0,1.0,1.0,1.0,1.0,1.0,NaN
137478,50,4.0,3.0,6.0,5.0,6.0,3.0,3.0,3.0,3.0,NaN,NaN
137591,50,4.0,3.0,6.0,7.0,6.0,3.0,3.0,3.0,3.0,NaN,NaN
137842,50,4.0,3.0,6.0,3.0,6.0,3.0,3.0,3.0,3.0,NaN,NaN
138196,50,2.0,3.0,6.0,2.0,2.0,1.0,3.0,1.0,3.0,3.0,4.0
138572,50,4.0,3.0,2.0,4.0,6.0,3.0,3.0,3.0,3.0,NaN,NaN
138699,50,4.0,3.0,6.0,4.0,9.0,1.0,1.0,1.0,1.0,1.0,NaN
138856,50,4.0,3.0,6.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,4.0
138865,50,4.0,3.0,6.0,4.0,1.0,3.0,3.0,3.0,3.0,NaN,NaN
138993,50,4.0,3.0,6.0,1.0,4.0,1.0,1.0,1.0,1.0,1.0,2.0
139016,50,4.0,3.0,6.0,4.0,6.0,3.0,3.0,3.0,3.0,NaN,NaN
139026,50,2.0,3.0,4.0,3.0,7.0,1.0,3.0,1.0,1.0,3.0,NaN
139377,50,4.0,3.0,4.0,4.0,7.0,1.0,3.0,3.0,3.0,3.0,NaN

In [10]:
dadosCompletos.to_csv("dadosp1.csv",sep=";")

___
## Conclusão

Descreva aqui suas conclusões!